<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Editor/ The Gluck</title>
</head>
<body>
<div class="container">
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form method="post">
            <div class="row">
                <input type="text" name="title" placeholder="Enter the title of article" />
            </div>
            <div class="row"><input type="text" name="tag" placeholder="Tag"></div>
            <div class="row"><input type="text" name="description" placeholder="Description"></div>
            <div class="row"><textarea name="text"></textarea></div>
            <div class="row"><button type="submit">Add article</button></div>
        </form>
    </div>
<!--    <div>Список сообщений</div>-->
<!--    <form method="post" action="filter">-->
<!--        <input type="text" name="filter">-->
<!--        <button type="submit">Найти</button>-->
<!--    </form>-->
<!--    {{#messages}}-->
<!--    <div>-->
<!--        <b>{{id}}</b>-->
<!--        <span>{{text}}</span>-->
<!--        <i>{{tag}}</i>-->
<!--    </div>-->
<!--    {{/messages}}-->
<!--    </div>-->
    <!--    <div class="form_container row" id="sign_in_form" style="display: none"> Place sign in form here </div>-->
    <!--    <script src="https://www.google-analytics.com/analytics.js" async></script>-->
    <!--    <script type="module" src="js/main.js"></script>-->
    <!--    <script type="module" src="js/utils.js"></script>-->
</div>
</body>
</html>