<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>The Gluck</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<h3>Hello world! </h3>

<p><a th:href="@{/login}">Log in</a></p>
<p> <a th:href="@{/signup}">Sign Up</a></p>
<p>Click <a th:href="@{/editor}">here</a> to write new article.</p>
<p>Click <a th:href="@{/hello}">here</a> to go hello page .</p>
<script src="../static/js/main.js"></script>
<!--../static/js/main.js-->
</body>
</html>
