<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile/The Gluck</title>
</head>
<body>
    <div class="container">
        <div class="header"></div>
        <div class="profile-container">
            <div class="username"></div>
            <div class="active-status"></div>
            <div class="names">
                <div class="first-name"></div>
                <div class="last-name"></div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>